<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Select Role - Law Helping Website</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/role.css">
</head>
<body>

  <div class="role-selection">
    <h1 class="title">Welcome to LegalConnect</h1>
    <p class="subtitle">Please select your role to continue</p>

    <div class="buttons">
      <a href="/loginuser" class="btn user">I'm a User</a>
      <a href="/loginlawyer" class="btn lawyer">I'm a Lawyer</a>
    </div>
  </div>



</body>
</html>